/* color palette from <https://github.com/vuejs/theme>
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
/* :root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */ 


* {
  box-sizing: border-box;
}

#app {
  width: 100%;
}

body {
  background-color: #ecff74;
  color: #31507d;
  display: flex;
  font-family: "Poppins", sans-serif;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

@media (min-width: 1024px) {
  .auth-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(74, 79, 97, 0.25) 0px 13px 27px -5px, rgba(74, 79, 97, 0.3) 0px 8px 16px -8px;
    padding: 20px 35px 35px 35px;
    text-align: center;
    min-width: 40%;
    max-width: 40%;
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .auth-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(74, 79, 97, 0.25) 0px 13px 27px -5px, rgba(74, 79, 97, 0.3) 0px 8px 16px -8px;
    padding: 20px 35px 35px 35px;
    text-align: center;
    min-width: 100%;
    height: 100%;
    max-width: 80%;
    margin: auto;
  }
}
form i {
  color: #fff;
  font-size: 30px;
  transition: color 250ms ease-in;
}
form .input-wrapper {
  margin-bottom: 30px;
  position: relative;
}
form .input-wrapper i {
  color: #a4a9b6;
  position: absolute;
  opacity: 0.85;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}
form h1 {
  font-weight: 600;
  letter-spacing: 0;
  margin: 25px 0 0 0;
}
form p {
  color: #a4a9b6;
  font-size: 18px;
  margin: 2px 0 44px 0;
}
form input[type=text], form input[type=password] {
  border: 1px solid #d8ddf0;
  border-radius: 6px;
  font-size: 15px;
  padding: 13px 9px 13px 9px;
  transition: border-color 250ms ease-in;
}
form input[type=text]:focus, form input[type=password]:focus {
  border-color: #4c70ff;
  outline: none;
}
form input[type=text]:focus + i, form input[type=password]:focus + i {
  color: #4c70ff;
}
form input {
  width: 100%;
}
form ::-moz-placeholder {
  color: #a4a9b6;
  font-size: 15px;
  opacity: 1;
}
form :-ms-input-placeholder {
  color: #a4a9b6;
  font-size: 15px;
  opacity: 1;
}
form ::placeholder {
  color: #a4a9b6;
  font-size: 15px;
  opacity: 1;
}
form button[type=submit] {
  background: #4c70ff;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 18px 10px;
  width: 100%;
}
form button[type=submit] i {
  margin-left: 5px;
}


/* ======================================== */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  font: 400 16px/1.4 sans-serif;
}

body {
  background: #f2f6f6;
}

.filter-title {
  font-weight: 600;
  padding: 1rem 1rem 1rem 0;
}

.search {
  border: 1px solid #eee;
  border-radius: 2px;
  overflow: hidden;
  background: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 300px;
  height: 500px;
  max-height: 100%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  border: 1px solid #eee;
}
.search .primary-search {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background: #ccc;
  height: 60px;
}
.search .primary-search input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0 1rem;
  line-height: 30px;
  border: 1px solid #bbb;
}
.search .search-filter-listing {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 60px;
  left: 0;
}
.search .search-filter-listing .search-filter-listing-header {
  border-bottom: 1px solod #eee;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  top: 0;
  height: 40px;
}
.search .search-filter-listing .search-filter-listing-header .listing-header-title {
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0 1rem;
}
.search .search-filter-listing .search-filter-listing-body {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: #eee;
}
.search .search-filter-listing .filter-category {
  position: relative;
  transition: all 1s ease;
  padding: 0;
  margin: 0;
}
.search .search-filter-listing .filter-category .filter-toggle {
  background: transparent;
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
.search .search-filter-listing .filter-category .filter-toggle .toggle-content {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  align-items: center;
}
.search .search-filter-listing .filter-category.closed .filter-options {
  overflow: hidden;
  max-height: 0;
}
.search .search-filter-listing .filter-category .filter-options {
  transition: max-height 0.2s ease;
  background: #fff;
  max-height: 800px;
}
.search .search-filter-listing .filter-category .filter-options .option {
  border-bottom: 1px solid #eee;
  padding: 0.75rem 1rem;
}
.search .search-filter-listing .filter-category .filter-options .checkbox-wrap input {
  float: right;
}
.search .search-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}
.search .search-footer .button {
  flex: 0.5;
  margin: 0 1rem;
}
